<template id="t-tweet">
  <h4><content select=".title"></content></h4>
  <div><content select=".body"></content></div>
</template>

<script type="text/javascript">
  "use strict";

  var template = document.currentScript.ownerDocument.querySelector('#t-tweet');

  class Tweet extends HTMLElement {
    createdCallback() {
      this.createShadowRoot();
      var node = document.importNode(template.content, true);
      this.shadowRoot.appendChild(node);
    }
  }

  document.registerElement("x-tweet", Tweet);
</script>
