<template id="compose">
  <style media="screen">
    :host {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.8);
    }

    #container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      min-width: 400px;
      background-color: #EDF4FC;
      border-radius: 5px;
      overflow: hidden;
    }

    #header {
      text-align: center;
      height: 40px;
      border-bottom: solid 1px rgba(76, 145, 219, .25);
      background-color: #fefefe;
    }

    #body {
      padding: 1em;
    }

    #title {
      line-height: 40px;
    }

    #close {
      position: absolute;
      right: 0;
      line-height: 40px;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }

    textarea#text {
      resize: none;
      width: 100%;
      border: solid 1px rgba(76, 145, 219, .25);
    }
  </style>

  <div id="container">
    <div id="header">
      <span id="title">Compose</span>
      <span id="close">X</span>
    </div>
    <div id="body">
      <div id="reply-to"></div>
      <form id="tweet" action="#" method="post">
        <textarea id="text" rows="8" cols="40" title="Compose a tweet"></textarea>
        <button type="button" id="submit">Tweet</button>
      </form>
    </div>
  </div>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    const $$$compose = document.currentScript.ownerDocument.querySelector('template#compose');

    class Compose extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'open'}).appendChild(document.importNode($$$compose.content, true));

        this.handle('click', this.hide.bind(this));
        this.$('#container').handle('click', null); // stop popup to host
        this.$('#close').handle('click', () => {
          this.clear();
          this.hide();
        });
        this.$('#submit').handle('click', this.submit.bind(this));

        this.params = {};
        this.quoted_status = null;

        this.hide();
      }

      clear() {
        this.$('#reply-to').textContent = '';
        this.$('#text').value = '';
        this.params = {};
        this.quoted_status = null;
      }

      openComposeForReply(tweet) {
        console.log('[compose] openComposeForReply:', tweet);
        this.$('#reply-to').textContent = `Reply to ${tweet.user.screen_name}: ${tweet.text}`;
        this.$('#text').value = `@${tweet.user.screen_name} `;
        this.params = {
          in_reply_to_status_id: tweet.id_str, // use id_str instead of id
        };
        this.show();
      }

      openComposeForRetweet(tweet) {
        console.log('[compose] openComposeForRetweet:', tweet);
        this.$('#reply-to').textContent = `Retweet from ${tweet.user.screen_name}: ${tweet.text}`;
        this.$('#text').value = '';
        this.quoted_status = tweet;
        this.params = {};
        this.show();
      }

      submit() {
        this.$('#submit').disabled = true;
        this.params.status = this.$('#text').value;
        if ($.isDefined(this.quoted_status)) {
          if (this.params.status === '') {
            return this.retweet();
          }
          let tweet = this.quoted_status;
          // This is the only link that can be determined as quoted status
          this.params.status += ` https://twitter.com/${tweet.user.screen_name}/status/${tweet.id_str}`;
        }

        console.log('[compose] submit:', this.params);
        let client = document.cache.getTwitterClient(document.account);
        client
          .post("statuses_update", this.params)
          .then(async (reply) => {
            console.log('[compose] posted:', reply);
            await document.store.updateTweetAsync(reply);
            this.$('#submit').disabled = false;
            this.clear();
            this.hide();
            Notify.success('New tweet posted.');
            // TODO: prepends new composed tweet to channels.
          })
          .catch((err) => {
            console.error('[compose] post failed:', err);
            Notify.error(`[compose] post failed: ${err}`);
            this.$('#submit').disabled = false;
          });
      }

      retweet() {
        document.cache.getTwitterClient(document.account)
          .post("statuses_retweet_ID", {
            id: this.quoted_status.id_str
          })
          .then(async (reply) => {
            console.log('[compose] retweet:', reply);
            // Update current_user_retweet
            if (this.quoted_status.retweeted_status) {
              this.quoted_status.retweeted_status.current_user_retweet = {id_str: reply.id_str};
            } else {
              this.quoted_status.current_user_retweet = {id_str: reply.id_str};
            }
            // trigger callbacks
            Object.assign(this.quoted_status, {retweeted: true});
            await document.store.updateTweetAsync(this.quoted_status);
            // reset UI
            this.$('#submit').disabled = false;
            this.clear();
            this.hide();
          })
          .catch((err) => {
            console.error('[compose] retweet failed:', err);
            Notify.error(`[compose] retweet failed: ${err}`);
            this.$('#submit').disabled = false;
          });
      }
    }

    window.customElements.define('x-compose', Compose);
  })();
</script>
