<link rel="import" href="compose.html">
<link rel="import" href="nav.html">
<link rel="import" href="board.html">
<link rel="import" href="config.html">
<link rel="import" href="session.html">

<template>
  <style media="screen">
    :host {
      display: block;
      position: relative;
      height: 100vh;
      width: 100vw;
    }
    #main {
      position: absolute;
      top: 50px;
      bottom: 0;
      width: 100%;
    }
  </style>

  <content select="#error"></content>
  <x-compose></x-compose>
  <x-nav></x-nav>
  <div id="main"></div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class App extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));

        this.handleActions([
          'openCompose', 'openComposeForReply', 'openComposeForRetweet',
          'refreshBoard', 'switchView'
        ]);

        // TODO: enable this
        // document.store.updateAllAccounts();

        // init view
        window.onpopstate = (event) => { this.loadView(event.state); };
        this.loadView(window.location);
      }

      loadView(location) {
        console.log('[app] loadView', location);
        if (!location) {
          location = window.location;
        }
        switch(location.hash) {
          case '#accounts': {
            this.switchSession();
            break;
          }
          case '#settings': {
            this.switchConfig();
            break;
          }
          default: {
            document.account = null;
            var accounts = document.store.getAllAccounts();
            var screen_names = Object.keys(accounts);
            if ($.isDefined(screen_names) && screen_names && screen_names.length > 0) {
              var screen_name;
              // try parse from url
              if (location.hash.startsWith('#@')) {
                screen_name = location.hash.substr(2);
                console.log('[app] active account from url', screen_name);
                if (screen_name in accounts) {
                  this.switchBoard(accounts[screen_name]);
                  return;
                } else {
                  console.log('[app] last active account is not valid', screen_name, screen_names);
                }
              }

              // try load from store
              screen_name = document.store.getLastActiveAccount();
              console.log('[app] active account from store', screen_name);
              if (screen_name in accounts) {
                this.switchView('board', accounts[screen_name]);
              } else {
                console.log('[app] last active account is not valid', screen_name, screen_names);
                // fallback, use first account
                screen_name = screen_names[0];
                this.switchView('board', accounts[screen_name]);
              }
            } else {
              console.log('[app] no speficified account, go to sessions');
              this.switchSession();
            }
          }
        }
      }

      switchView(view) {
        var method_name, title, url, args = Array.from(arguments).slice(1);
        console.log('[app] switchView', view, args, window.location);

        switch(view) {
          case 'board': {
            method_name = 'switchBoard';
            var screen_name = args[0].screen_name;
            title = `@${screen_name}`;
            url = `#@${screen_name}`;
            break;
          }
          case 'config': {
            method_name = 'switchConfig';
            title = 'Settings';
            url = '#settings';
            break;
          }
          case 'session': {
            method_name = 'switchSession';
            title = 'Accounts';
            url = '#accounts';
            break;
          }
          default: {
            console.error('[app] switchView: unknown view', view, args);
            return;
          }
        }
        window.history.pushState({
          hash: url,
          account: document.account,
        }, title, url);
        this[method_name].apply(this, args);
      }

      openCompose(args) {
        this.$('x-compose').show(args);
      }

      openComposeForReply(tweet) {
        this.$('x-compose').openComposeForReply(tweet);
      }

      openComposeForRetweet(tweet) {
        this.$('x-compose').openComposeForRetweet(tweet);
      }

      refreshBoard() {
        this.$('#main x-board').refresh();
      }

      switchBoard(account) {
        console.log('switchBoard', account && account.screen_name);
        document.account = account;
        document.store.saveLastActiveAccount(account);

        var config = document.store.getConfig(account);
        if (!$.isDefined(config) || Object.keys(config).length === 0) {
          console.log('switchBoard: log is empty, switch to config');
          this.switchView('config');
        } else {
          $.removeAllChildren(this.$('#main'));
          var board = document.createElement('x-board');
          this.$('#main').appendChild(board);
          this.$('x-nav').updateNav(board);
        }
      }

      switchConfig() {
        console.log('switchConfig');
        $.removeAllChildren(this.$('#main'));
        var config = document.createElement('x-config');
        this.$('#main').appendChild(config);
        this.$('x-nav').updateNav();
      }

      switchSession() {
        console.log('switchSession');
        document.account = null;
        $.removeAllChildren(this.$('#main'));
        var $session = document.createElement('x-session');
        this.$('#main').appendChild($session);
        this.$('x-nav').updateNav();
      }
    }

    document.registerElement("x-app", App);
  })();
</script>
