<link rel="import" href="dropdown.html" charset="utf-8">

<template>
  <style media="screen">
    :host {
      display: block;
      position: relative;
      height: 100vh;
      width: 100vw;
    }
    nav {
      height: 50px;
      padding: 0 20px;
      background-color: #fefefe;
      box-shadow: #eee 0px 3px 5px;
      position: relative;
      z-index: 100;
    }
    #logo {
      line-height: 50px;
      font-size: 30px;
      font-weight: bold;
      color: #424d54;
    }
    #control-panel {
      float: right;
      height: 30px;
      line-height: 30px;
    }
    a.menu {
      display: inline-block;
      line-height: 48px;
      padding: 0 0.5em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
      text-decoration: none;
      color: #555;
      border-bottom: 3px solid rgba(0, 0, 0, 0);;
    }
    a.menu:hover {
      color: #4C91DB;
      border-bottom: 3px solid #4C91DB;
    }
    .dropdown-content {
      min-width: 150px;
    }
    #main {
      position: absolute;
      top: 50px;
      bottom: 0;
      width: 100%;
    }
  </style>

  <x-compose></x-compose>
  <nav>
    <span id="logo">Coolol</span>
    <span id="control-panel">
      <a href="#" class="menu" id="refresh-board">Refresh</a>
      <a href="#" class="menu" id="open-compose">Compose</a>
      <a href="#" class="menu" id="switch-board">Board</a>
      <a href="#" class="menu" id="switch-config">Setting</a>
      <x-dropdown class="drop-right">
        <a href="#" class="menu dropdown-target" id="switch-session">Accounts</a>
        <ul class="dropdown-content" id="account-list"></ul>
        <a href="#" class="dropdown-content-footer" id="account-manage">Manage accounts</a>
      </x-dropdown>
    </span>
  </nav>
  <div id="main"></div>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class App extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));

        this.$compose = this.shadowRoot.querySelector('x-compose');
        this.$main = this.shadowRoot.querySelector('#main');

        this.$refresh_board = this.shadowRoot.querySelector('#refresh-board');
        this.$open_compose = this.shadowRoot.querySelector('#open-compose');
        this.$switch_board = this.shadowRoot.querySelector('#switch-board');
        this.$switch_config = this.shadowRoot.querySelector('#switch-config');
        this.$switch_session = this.shadowRoot.querySelector('#switch-session');
        this.$account_list = this.shadowRoot.querySelector('#account-list');

        this.$open_compose.addEventListener('click', (event) => {
          event.preventDefault();
          this.$compose.show();
        });
        this.$switch_board.addEventListener('click', (event) => {
          event.preventDefault();
          this.switchToBoard();
        });
        this.$switch_config.addEventListener('click', (event) => {
          event.preventDefault();
          this.switchToConfig();
        });
        this.$switch_session.addEventListener('click', (event) => {
          event.preventDefault();
          this.switchToSession();
        });

        this.updateAccountList();

        // init view
        // this.switchToBoard('ranmocy');
        // this.switchToConfig();
        this.switchToSession();
      }

      updateAccountList() {
        $.removeAllChild(this.$account_list);
        var accounts = document.store.getAccounts();
        Object.keys(accounts).forEach((account) => {
          var $li = document.createElement('li');
          $li.textContent = account.screen_name;
          this.$account_list.appendChild($li);
        });
      }

      switchToBoard(account) {
        $.removeAllChild(this.$main);
        var board = document.createElement('x-board');
        this.$main.appendChild(board);
        this.$refresh_board.addEventListener('click', board.refresh.bind(board));
        this.beInBoardView(true);

        // load cached
        var boardConfig = document.store.getConfig()[account];
        board.setConfig(boardConfig);
        var data = JSON.parse(localStorage.getItem('tweets'));
        if (data !== null) {
          board.setData(data);
        }
      }

      switchToConfig() {
        $.removeAllChild(this.$main);
        var config = document.createElement('x-config');
        this.$main.appendChild(config);
        this.beInBoardView(false);
      }

      switchToSession () {
        $.removeAllChild(this.$main);
        var $session = document.createElement('x-session');
        this.$main.appendChild($session);
        this.beInBoardView(false);
      }

      beInBoardView(toShow) {
        if (toShow) {
          this.$open_compose.style.visibility = "visible";
          this.$refresh_board.style.visibility = "visible";
        } else {
          this.$open_compose.style.visibility = "hidden";
          this.$refresh_board.style.visibility = "hidden";
        }
      }
    }

    document.registerElement("x-app", App);
  })();
</script>
