<template>
  <style media="screen">
    :host {
      display: block;
      position: relative;
      height: 100vh;
      width: 100vw;
    }
    nav {
      height: 30px;
      padding: 10px 20px;
      border-bottom: 1px #eee solid;
    }
    #logo {
      line-height: 30px;
      font-size: 30px;
      font-weight: bold;
    }
    #main {
      position: absolute;
      top: 50px;
      bottom: 0;
      width: 100%;
    }
  </style>
  <nav>
    <span id="logo">Coolol</span>
    <button type="button" id="refresh-board">Refresh</button>
    <button type="button" id="switch-board">Board</button>
    <button type="button" id="switch-config">Setting</button>
    <button type="button" id="switch-session">Login</button>
  </nav>
  <div id="main"></div>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class App extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));

        this.$main = this.shadowRoot.querySelector('#main');
        this.$refresh_board = this.shadowRoot.querySelector('#refresh-board');
        this.$switchBoard = this.shadowRoot.querySelector('#switch-board');
        this.$switchConfig = this.shadowRoot.querySelector('#switch-config');
        this.$switchSession = this.shadowRoot.querySelector('#switch-session');

        this.$switchBoard.addEventListener('click', this.switchToBoard.bind(this));
        this.$switchConfig.addEventListener('click', this.switchToConfig.bind(this));
        this.$switchSession.addEventListener('click', this.switchToSession.bind(this));

        // load Config
        document.config = JSON.parse(localStorage.getItem('config'));
        console.log("Config loaded:", document.config);

        // init view
        this.switchToBoard();
        // this.switchToConfig();
        // this.switchToSession();
      }

      switchToBoard() {
        $.removeAllChild(this.$main);
        var board = document.createElement('x-board');
        this.$main.appendChild(board);
        this.$refresh_board.hidden = false;
        this.$refresh_board.addEventListener('click', board.refresh.bind(board));

        // load cached
        var boardConfig = document.config.boards[0];
        board.setConfig(boardConfig);
        var data = JSON.parse(localStorage.getItem('tweets'));
        if (data !== null) {
          board.setData(data);
        }
      }

      switchToConfig() {
        $.removeAllChild(this.$main);
        var config = document.createElement('x-config');
        this.$main.appendChild(config);
        this.$refresh_board.hidden = true;
      }

      switchToSession () {
        $.removeAllChild(this.$main);
        var $session = document.createElement('x-session');
        this.$main.appendChild($session);
        this.$refresh_board.hidden = true;
      }
    }

    document.registerElement("x-app", App);
  })();
</script>
