<link rel="import" href="channel.html">

<template id="board">
  <style>
    :host {
      display: block;
      height: 100%;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; /* key to horizontal scrolling */
    }
    #channels {
      height: 100%;
    }
    .channel {
      display: inline-block; /* key to horizontal */
      height: 100%;
      width: 500px;
      white-space: normal; /* reset for children */
      border-left: 1px #eee solid;
    }
    .channel:last-child {
      border-right: 1px #eee solid;
    }
  </style>
  <div id="channels"></div>
</template>

<template id="channel">
  <div class="channel">
    <x-channel></x-channel>
  </div>
</template>


<script type="text/javascript">
  (function() {
    "use strict";

    var $$$board = document.currentScript.ownerDocument.querySelector('template#board').content;
    var $$$channel = document.currentScript.ownerDocument.querySelector('template#channel').content;

    class Board extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$board, true));

        this.config = document.store.getConfig(document.account);
        this._data = null;

        // load caches
        var data = document.store.getTweets(document.account);
        console.log('board loadData', data);
        if (data.length > 0) {
          this.setData(data);
        } else {
          this.refresh();
        }

        return this;
      }

      setData(data) {
        console.log('board setData', data);
        // cache up
        document.store.saveTweets(document.account, data);
        this._data = data;

        // Remove all children
        $.removeAllChildren(this.$('#channels'));

        if (!data) {
          return this;
        }

        // update new data
        this.config.channels.forEach(function(channel_config, index) {
          var $channel_container = document.importNode($$$channel, true);
          $channel_container.querySelector('x-channel').setData(channel_config, this._data[index]);
          this.$('#channels').appendChild($channel_container);
        }, this);

        return this;
      }

      refresh() {
        var channels = this.config.channels;
        var client = document.store.getTwitterClient(document.account);
        var fetched_source = new Set();

        var allChannelsPromises = channels.map((channel) => {
          var source_promises = [];
          $.forEachKeyValue(channel.sources, (source, params) => {
            var key = client.key(source, params);
            if (key in fetched_source) {
              console.log('[board] get:', key);
              source_promises.push(client.get(source, params));
            } else {
              console.log('[board] fetch:', key);
              source_promises.push(client.fetch(source, params));
              fetched_source.add(key);
            }
          });
          return Promise.all(source_promises);
        });
        console.log('[board] refresh all Promises:', allChannelsPromises);

        Promise.all(allChannelsPromises)
          .then((data) => {
            console.log('[board] refresh allData', data);
            this.setData(data);
          });
      }
    }

    document.registerElement("x-board", Board);
  })();
</script>
