<link rel="import" href="/component/channel.html">

<template id="board">
  <style>
    :host {
      display: block;
      height: 100%;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; /* key to horizontal scrolling */
    }
    #m-channels {
      height: 100%;
    }
    .m-channel {
      display: inline-block; /* key to horizontal */
      height: 100%;
      width: 500px;
      white-space: normal; /* reset for children */
      border-left: 1px #eee solid;
    }
    .m-channel:last-child {
      border-right: 1px #eee solid;
    }
  </style>
  <div id="m-channels"></div>
</template>

<template id="channel">
  <div class="m-channel">
    <x-channel></x-channel>
  </div>
</template>


<script type="text/javascript">
  (function () {
    "use strict";

    var $$$board = document.currentScript.ownerDocument.querySelector('template#board').content;
    var $$$channel = document.currentScript.ownerDocument.querySelector('template#channel').content;

    class Board extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$board, true));
        this.account = null;
        this.config = null;
        this._data = null;

        this.$channels = this.shadowRoot.querySelector('#m-channels');
      }

      setAccount(account) {
        this.account = account;
        // set Config
        this.setConfig(document.store.getConfig()[account.screen_name]);
        return this;
      }

      setConfig(config) {
        console.log("board setConfig:", config);

        if (!config) {
          console.log('board trigger', 'switchConfig');
          this.trigger('switchConfig');
          return;
        }
        this.config = config;

        // load caches
        var data = JSON.parse(localStorage.getItem('tweets'));
        if (data === null) {
          this.refresh();
        } else {
          this.setData(data);
        }

        return this;
      }

      setData(data) {
        this._data = data;

        // Remove all children
        $.removeAllChild(this.$channels);

        if (!data) {
          return this;
        }

        // update new data
        this.config.channels.forEach(function (channel_config, index) {
          var $channel_container = document.importNode($$$channel, true);
          $channel_container.querySelector('x-channel').setData(channel_config, this._data[index]);
          this.$channels.appendChild($channel_container);
        }, this);

        return this;
      }

      refresh() {
        var channels = this.config.channels;
        var allSources = new Set();
        channels.forEach((channel) => {
          channel.sources.forEach((source) => {
            allSources.add(source);
          });
        });
        console.log('allSources', allSources);

        // fetch all sources
        var client = document.store.getTwitterClient(this.account);
        allSources.forEach((source) => {
          client.fetch(source);
        });

        // get all data
        var allChannelsPromises = channels.reduce((all, channel) => {
          var allSourcesPromises = channel.sources.map((source) => client.get(source));
          all.push(Promise.all(allSourcesPromises));
          return all;
        }, []);
        console.log('all Promises', allChannelsPromises);

        Promise.all(allChannelsPromises)
          .then((data) => {
            // cache up
            console.log('allTweets:', data);
            localStorage.setItem('tweets', JSON.stringify(data));
            this.setData(data);
          });
      }
    }

    document.registerElement("x-board", Board);
  })();
</script>
