<template>
  <style>
    h3 { color: orange; }
    div { color: purple; }
  </style>

  <h3><content select=".title"></content></h3>
  <div>
    Channel desc:
    <content select=".body"></content>
  </div>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class Channel extends HTMLElement {
      createdCallback() {
        var node = document.importNode(template.content, true);
        this.createShadowRoot();
        this.shadowRoot.appendChild(node);
      }
    }

    document.registerElement("x-channel", Channel);
  })();
</script>
