<link rel="import" href="tweet.html">

<template>
  <style>
    :host {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
    }
    #m-header {
      color: orange;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-bottom: 1px #eee solid;
    }
    #m-tweets {
      position: absolute;
      top: 24px;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
    #m-tweets x-tweet {
      border-bottom: 1px #eee solid;
    }
  </style>

  <div id="m-header"></div>
  <div id="m-tweets"></div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class Channel extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));
        this.config = null;
        this.data = null;
        this.$header = this.shadowRoot.querySelector('#m-header');
        this.$tweets = this.shadowRoot.querySelector('#m-tweets');
      }

      setName(name) {
        this.$header.textContent = name;
        return this;
      }

      setData(config, data) {
        this.config = config;
        this.data = data;

        // set header
        this.setName(this.config.name);

        // Remove all children
        $.removeAllChildren(this.$tweets);

        if (!data) {
          return this;
        }

        // update new data
        // flatten [[tweetsForSource1], [tweetsForSource2], ...]
        data
          .reduce((all, current) => {
            return all.concat(current);
          }, [])
          .map((tweet) => {
            tweet.created_at = new Date(tweet.created_at);
            return tweet;
          })
          .sort((a, b) => {
            return b.created_at - a.created_at;
          })
          .forEach((tweet) => {
            this.$tweets.appendChild(document.createElement('x-tweet').setData(tweet));
          });

        return this;
      }
    }

    document.registerElement("x-channel", Channel);
  })();
</script>
