<link rel="import" href="tweet.html">

<template>
  <style>
    :host {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
    }
    #header {
      color: orange;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-bottom: 1px #eee solid;
    }
    #tweets, #loading {
      position: absolute;
      width: 100%;
    }
    #tweets {
      top: 24px;
      bottom: 0;
      padding-bottom: 24px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    #tweets x-tweet {
      border-bottom: 1px #eee solid;
    }

    #loading {
      bottom: 0;
      height: 24px;
      text-align: center;
    }
  </style>

  <div id="header"></div>
  <div id="tweets"></div>
  <div id="loading">Loading more...</div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";


    function transformData(data) {
      console.info('[channel] transformData', data);

      if (!$.isDefined(data)) {
        return [];
      }

      return data
        // flatten [[tweetsForSource1], [tweetsForSource2], ...]
        .reduce((all, current) => {
          return all.concat(current);
        }, [])
        // unify tweet into unique objects
        .map((tweet) => {
          return document.cache.getCurrentAccountTweet(tweet);
        })
        // Transform created_at field into Date object
        .map((tweet) => {
          tweet.created_at = new Date(tweet.created_at);
          return tweet;
        })
        // sort by created_at
        .sort((a, b) => {
          return b.created_at - a.created_at;
        });
    }


    const template = document.currentScript.ownerDocument.querySelector('template');

    class Channel extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'open'}).appendChild(document.importNode(template.content, true));
        this.config = null;
        this.data = [];
        this.fetching = false;
        this.no_more_earlier_tweet = false;

        // scroll event
        let $tweets = this.$('#tweets');
        $tweets.handle('scroll', () => {
          if ($tweets.scrollTop + $tweets.offsetHeight + 100 >= $tweets.scrollHeight) {
            console.debug('scroll to bottom');
            if (!this.no_more_earlier_tweet) {
              this.fetchMore();
            }
          }
        });
      }

      setConfig(config) {
        this.config = config;
        this.$('#header').textContent = config.name;
        return this;
      }

      refresh() {
        console.info('[channel] refresh', this.config.name);

        // clear data
        this.data = [];
        $.removeAllChildren(this.$('#tweets'));

        return this.fetchMore();
      }

      fetchMore() {
        console.info('[channel] fetchMore');
        if (this.fetching) {
          console.log('This channel is fetching, skip.');
          return;
        }
        try {
          this.fetching = true;
          this.$('#loading').show();

          let extra_params = {
            count: 50,
          };

          // get the earlest tweet id in this channel
          if (this.data.length > 0) {
            let earlest_tweet_id = this.data[this.data.length - 1].id_str;
            console.log('[channel] fetchMore: earlest_tweet_id', earlest_tweet_id);
            // Alternative: this.$('#tweets').lastChild.dataset.tweetId
            extra_params.max_id = earlest_tweet_id;
          }

          // fetch more data
          let client = document.cache.getTwitterClient(document.account);
          let source_promises = this.config.sources.map((source_vector) => {
            let source = source_vector[0];
            let params = Object.assign({}, extra_params, source_vector[1]);
            return client.fetch(source, params);
          });
          return Promise.all(source_promises)
            .then((data) => {
              this.appendData(data);

              // exit fetching status
              this.fetching = false;
              this.$('#loading').hide();

              return data;
            });
        } catch (e) {
          // exit fetching status
          this.fetching = false;
          this.$('#loading').hide();

          console.error('[channel] fetchMore: error during fetching!', e);
          Notify.error('Error during fetching more tweets!');
        }
      }

      appendData(data) {
        console.info('[channel] appendData', data);

        let new_data = transformData(data)
          // remove duplicated tweet
          .filter((tweet) => {
            for (var i = this.data.length - 1; i >= 0; i--) {
              if (this.data[i].id_str === tweet.id_str) {
                return false; // don't keep this
              }
            }
            return true; // keep this
          });

        // apply filters from config
        if ($.isDefined(this.config.filters)) {
          this.config.filters.forEach((filter_rule) => {
            let filter_func = function(tweet) {
              // prepare DSL for filter rule
              var sender, receiver; // variables
              var isBetweenUser, tweetContains, tweetContainsAny; // functions

              switch ($.tweetType(tweet)) {
                case 'direct_message': {
                  sender = tweet.sender;
                  receiver = tweet.recipient;
                  break;
                }
                case 'reply': {
                  sender = tweet.user;
                  receiver = {
                    screen_name: tweet.in_reply_to_screen_name,
                    id: tweet.in_reply_to_user_id,
                    id_str: tweet.in_reply_to_user_id_str,
                  };
                  break;
                }
                default: {
                  // Types: retweet, quoted_retweet, tweet
                  sender = tweet.user;
                  receiver = {};
                }
              }

              isBetweenUser = function(user1, user2) {
                return (sender.screen_name === user1 && receiver.screen_name === user2) ||
                (sender.screen_name === user2 && receiver.screen_name === user1);
              };
              tweetContains = function(keyword) {
                return tweet.text.indexOf(keyword) >= 0;
              };
              tweetContainsAny = function() {
                for (let keyword of arguments) {
                  if (tweetContains(keyword)) {
                    return true;
                  }
                }
                return false;
              };

              try {
                return eval(filter_rule);
              } catch (e) {
                console.error('Error when apply filter rule:', filter_rule, tweet, e);
                // start debugger for user
                debugger; // jshint ignore: line
                return false; // keep the tweet by default
              }
            };
            new_data = new_data.filter((tweet) => {
              // filter_func returns true means remove the tweet.
              // however Array.filter needs function to return false to remove the tweet.
              return !filter_func(tweet);
            });
          });
        }

        if (new_data.length === 0) {
          // no more new data to append
          this.no_more_earlier_tweet = true;
          return;
        }

        // append data
        this.data = [].concat(this.data, new_data);

        new_data.forEach((tweet) => {
          this.$('#tweets').appendChild(document.createElement('x-tweet').setTweet(tweet));
        });


        // hide loading
        this.$('#loading').hide();

        return this;
      }
    }

    window.customElements.define("x-channel", Channel);
  })();
</script>
