// it need duplicated in index.html and here?
<script src="../jspm_packages/github/ajaxorg/ace-builds@1.2.0/ace.js"></script>
<script src="../jspm_packages/github/josdejong/jsoneditor@4.2.1/dist/jsoneditor.min.js"></script>

<template>
  <style>
    /* Relative to the url, which is the directory of index.html */
    @import "jspm_packages/github/josdejong/jsoneditor@4.2.1/dist/jsoneditor.min.css";
    .editor {
      width: 400px;
      height: 400px;
    }
  </style>

  <div class="editor"></div>
  <button type="button" name="save">Save</button>
  <button type="button" name="reset">Reset to default</button>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    var defaultConfig = {
      MY_TWITTER_ID: {
        channels: [
          {
            name: 'Home',
            sources: ['statuses_homeTimeline']
          },
          {
            name: 'Mentions',
            sources: ['statuses_mentionsTimeline']
          },
          {
            name: 'Mix sources',
            sources: ['statuses_homeTimeline', 'statuses_mentionsTimeline']
          }
        ]
      }
    };

    class Config extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));
        this.saveButton = this.shadowRoot.querySelector('button[name=save]');
        this.resetButton = this.shadowRoot.querySelector('button[name=reset]');
        this.editorElem = this.shadowRoot.querySelector('.editor');

        this.saveButton.addEventListener('click', this.saveConfig.bind(this));
        this.resetButton.addEventListener('click', this.resetConfig.bind(this));

        this.editor = new JSONEditor(this.editorElem, {mode: 'code'});
        this.loadConfig();
      }

      loadConfig() {
        var config = document.store.getConfig();
        this.editor.set(config);
        console.log("Config loaded:", config);
      }

      saveConfig() {
        var config = this.editor.get();
        document.store.saveConfig(config);
        console.log("Config saved.", JSON.stringify(config));
      }

      resetConfig() {
        this.editor.set(defaultConfig);
        this.saveConfig();
      }
    }

    document.registerElement("x-config", Config);
  })();
</script>
