<template>
  <style>
    :host {
      display: block;
      width: 80%;
      height: 100%;
      margin: auto;
    }
    #editor {
      width: 100%;
      height: 80%;
    }
    #errors {
      border: 2px solid #c44;
      background: #e88;
      padding: 1em 2em;
      margin: 1em;
      color: white;
    }
  </style>

  <textarea id="editor"></textarea>
  <ul id="errors"></ul>
  <div id="actions">
    <button type="button" id="save">Save</button>
    <button type="button" id="reset">Reset to default</button>
  </div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    let template = document.currentScript.ownerDocument.querySelector('template');

    class Config extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));

        this.$('#save').handle('click', this.saveConfig.bind(this));
        this.$('#reset').handle('click', this.resetConfig.bind(this));

        this.$editor = this.$('#editor');
        this.$errors = this.$('#errors');

        this.$errors.hide();
        this.loadConfig();
      }

      loadConfig() {
        let config = document.store.getConfig(document.account);
        this.setConfig(config);
        console.log("Config loaded:", config);
      }

      saveConfig() {
        try {
          let config = this.getConfig();
          let error_messages = document.store.verifyConfig(config);
          if (error_messages && error_messages.length > 0) {
            console.log('config format error:', error_messages);
            $.removeAllChildren(this.$errors);
            for (let message of error_messages) {
              let $li = document.createElement('li');
              $li.textContent = message;
              this.$errors.appendChild($li);
            }
            this.$errors.show();
            return;
          }
          this.$errors.hide();
          document.store.saveConfig(document.account, config);
          console.log("Config saved.", config);
          this.trigger('switchView', 'board', document.account);
        } catch (e) {
          console.error('saveConfig failed', e);
          Notify.warn(e);
        }
      }

      resetConfig() {
        let config = document.store.resetConfig(document.account);
        this.setConfig(config);
        console.log("Config reseted.");
      }

      getConfig() {
        return JSON.parse(this.$editor.value);
      }

      setConfig(config) {
        this.$editor.value = JSON.stringify(config, null, '\t');
      }
    }

    document.registerElement("x-config", Config);
  })();
</script>
