<template>
  <style>
    :host {
      display: block;
      width: 80%;
      margin: auto;
    }
    #editor {
      width: 100%;
      height: 50em;
    }
  </style>

  <textarea id="editor"></textarea>

  <div id="actions">
    <button type="button" id="save">Save</button>
    <button type="button" id="reset">Reset to default</button>
  </div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class Config extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));

        this.$('#save').handle('click', this.saveConfig.bind(this));
        this.$('#reset').handle('click', this.resetConfig.bind(this));

        this.editor = this.$('#editor');
        this.loadConfig();
      }

      loadConfig() {
        var config = document.store.getConfig(document.account);
        this.setConfig(config);
        console.log("Config loaded:", config);
      }

      saveConfig() {
        try {
          var config = this.getConfig();
          document.store.saveConfig(document.account, config);
          console.log("Config saved.", config);
          this.trigger('switchView', 'board', document.account);
        } catch (e) {
          console.error('saveConfig failed', e);
          Notify.error(e);
        }
      }

      resetConfig() {
        var config = document.store.resetConfig(document.account);
        this.setConfig(config);
        console.log("Config reseted.");
      }

      getConfig() {
        return JSON.parse(this.editor.value);
      }

      setConfig(config) {
        this.editor.value = JSON.stringify(config, null, '\t');
      }
    }

    document.registerElement("x-config", Config);
  })();
</script>
