<template id="dropdown">
  <style media="screen">
    /*:host .container {
      display: none;
    }
    :host:hover .container {
      display: block;
    }*/
    :host {
      display: inline-block;
      position: relative;
    }
    .container {
      position: absolute;
      z-index: 500;
      top: 100%;
      background: white;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);;
      box-shadow: rgba(0, 0, 0, 0.18) 0 3px 3px;
    }
    :host(.drop-left) .container {
      left: 0;
    }
    :host(.drop-right) .container {
      right: 0;
    }
    content a {
      text-decoration: none;
    }
  </style>

  <content select=".dropdown-target"></content>
  <div class="container">
    <content select=".dropdown-content-header"></content>
    <content select=".dropdown-content"></content>
    <content select=".dropdown-content-footer"></content>
  </div>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template');

    class Dropdown extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template.content, true));

      }
    }

    document.registerElement('x-dropdown', Dropdown);
  })();
</script>
