<template id="nav-account-item">
  <style type="text/css">
    #account-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .account-item:hover {
      background-color: #eee;
    }
    .account-item a {
      width: 100%;
      padding: 5px 10px;
    }
    .account-item .avatar {
      height: 16px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
      color: #555;
      padding: 0 0.5em;
    }
    a:hover {
      color: #4C91DB;
    }
  </style>
  <li id="account">
    <a id="item" href="#">
      <img id="avatar" />
      <span id="name"></span>
    </a>
  </li>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template#nav-account-item').content;

    class NavAccountItem extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template, true));

        this.$item = this.shadowRoot.querySelector('#item');
        this.$avatar = this.shadowRoot.querySelector('#avatar');
        this.$name = this.shadowRoot.querySelector('#name');
      }

      setAccount(account) {
        this.$item.handle('click', () => { this.trigger('switchBoard', account); });
        if (account.profile_image_url) {
          this.$avatar.src = account.profile_image_url;
        }
        this.$name.textContent = account.screen_name;
        return this;
      }
    }

    document.registerElement("x-nav-account-item", NavAccountItem);
  })();
</script>
