<template id="nav-accounts-item">
  <style type="text/css">
    #account:hover {
      background-color: #eee;
    }
    #item {
      width: 100%;
      padding: 5px 10px;
    }
    #avatar {
      height: 16px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
      color: #555;
      padding: 0 0.5em;
    }
    a:hover {
      color: #4C91DB;
    }
  </style>
  <li id="account">
    <a id="item" href="#">
      <img id="avatar" src=""/>
      <span id="name"></span>
    </a>
  </li>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#nav-accounts-item').content;

    class NavAccountsItem extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$template, true));
      }

      setAccount(account) {
        this.$('#item').handle('click', () => {
          this.trigger('switchView', 'board', account);
        });
        if (account.profile_image_url) {
          this.$('#avatar').src = account.profile_image_url;
        }
        this.$('#name').textContent = account.screen_name;
        return this;
      }
    }

    window.customElements.define("x-nav-accounts-item", NavAccountsItem);
  })();
</script>
