<link rel="import" href="nav-account-item.html">

<template id="nav">
  <style media="screen">
    nav {
      height: 50px;
      padding: 0 20px;
      background-color: #fefefe;
      box-shadow: #eee 0px 3px 5px;
      position: relative;
      z-index: 100;
    }
    #logo a {
      line-height: 50px;
      font-size: 30px;
      font-weight: bold;
      color: #424d54;
    }
    #control-panel {
      float: right;
      height: 30px;
      line-height: 30px;
    }
    a {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
      color: #555;
      padding: 0 0.5em;
    }
    a:hover {
      color: #4C91DB;
    }
    a.menu {
      line-height: 48px;
      border-bottom: 3px solid rgba(0, 0, 0, 0);;
    }
    a.menu:hover {
      border-bottom: 3px solid #4C91DB;
    }

    /* Accounts */
    .account-list-dropdown .account-list-container {
      display: none;
    }
    .account-list-dropdown:hover .account-list-container {
      display: block;
    }
    .account-list-dropdown {
      display: inline-block;
      position: relative;
    }
    .account-list-container {
      position: absolute;
      z-index: 500;
      top: 100%;
      right: 0;
      min-width: 150px;
      background: white;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);;
      box-shadow: rgba(0, 0, 0, 0.18) 0 3px 3px;
    }
    #account-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>

  <nav>
    <span id="logo"><a href="#sessions">Coolol</a></span>
    <span id="control-panel">
      <a href="#" class="menu" id="open-compose">Compose</a>
      <a href="#" class="menu" id="refresh-board">Refresh</a>
      <a href="#" class="menu" id="switch-config">Setting</a>
      <span class="account-list-dropdown">
        <a href="#" class="menu dropdown-target" id="switch-session">Accounts</a>
        <div class="account-list-container">
          <ul id="account-list"></ul>
          <a href="#" id="account-manage">Manage accounts</a>
        </div>
      </span>
    </span>
  </nav>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$nav = document.currentScript.ownerDocument.querySelector('template#nav').content;

    class Nav extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$nav, true));

        this.$('logo').handle('click', () => {
          this.trigger('switchSession');
        });
        this.$('open-compose').handle('click', () => {
          this.trigger('openCompose');
        });
        this.$('account-manage').handle('click', () => {
          this.trigger('switchSession');
        });

        this.updateAccountList();
        document.store.registerAccounts(this.updateAccountList.bind(this));
      }

      updateNav(board) {
        console.log('setBoard', board);
        if (document.account !== null) {
          this.$('switch-config').show('inline-block');
          this.$('switch-config').handle('click', () => {
            this.trigger('switchConfig');
          });
        } else {
          this.$('switch-config').hide();
        }
        if (document.account !== null && $.isDefined(board)) {
          this.$('open-compose').show('inline-block');
          this.$('refresh-board').show('inline-block');
          this.$('refresh-board').handle('click', () => {
            board.refresh();
          });
        } else {
          this.$('open-compose').hide();
          this.$('refresh-board').hide();
        }
      }

      updateAccountList() {
        $.removeAllChildren(this.$('account-list'));
        $.forEachKeyValue(document.store.getAllAccounts(), (screen_name, account) => {
          console.log('[nav] list account item', screen_name);
          this.$('account-list').appendChild(document.createElement('x-nav-accounts-item').setAccount(account));
        });
      }
    }

    document.registerElement('x-nav', Nav);
  })();
</script>
