<link rel="import" href="nav-account-item.html">

<template id="nav">
  <style media="screen">
    @import "../vendor/font-awesome-4.4.0/css/font-awesome.min.css";
    nav {
      height: 50px;
      padding: 0 20px;
      background-color: #fefefe;
      box-shadow: #eee 0 3px 5px;
      position: relative;
      z-index: 100;
    }
    #logo img {
      position: relative;
      top: 4px;
      height: 32px;
      width: 32px;
    }
    #logo a {
      line-height: 50px;
      font-size: 30px;
      font-weight: bold;
      color: #424d54;
      padding: 0;
    }
    #control-panel {
      float: right;
      height: 30px;
      line-height: 30px;
    }
    a {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
      color: #555;
      padding: 0 0.5em;
    }
    a:hover {
      color: #4C91DB;
    }
    a.menu {
      line-height: 48px;
      border-bottom: 3px solid rgba(0, 0, 0, 0);;
    }
    a.menu:hover {
      border-bottom: 3px solid #4C91DB;
    }

    /* Accounts */
    .account-list-dropdown .account-list-container {
      display: none;
    }
    .account-list-dropdown:hover .account-list-container {
      display: block;
    }
    .account-list-dropdown {
      display: inline-block;
      position: relative;
    }
    .account-list-container {
      position: absolute;
      z-index: 500;
      top: 100%;
      right: 0;
      min-width: 150px;
      background: white;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);;
      box-shadow: rgba(0, 0, 0, 0.18) 0 3px 3px;
    }
    #account-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>

  <nav>
    <span id="logo">
      <a href="#sessions">
        <img src="icons/icon-64.png">
        Coolol
      </a>
    </span>
    <span id="control-panel">
      <a id="open-compose" class="menu fa fa-pencil-square-o" href="#"></a>
      <a id="refresh-board" class="menu" href="#">
        <i id="refresh-icon" class="fa fa-refresh"></i>
      </a>
      <a id="switch-config" class="menu fa fa-cog" href="#"></a>
      <span class="account-list-dropdown">
        <a id="switch-session" class="menu dropdown-target fa fa-user" href="#"></a>
        <div class="account-list-container">
          <ul id="account-list"></ul>
          <a id="account-manage" href="#">
            <i class="fa fa-users"></i>
            Manage accounts
          </a>
        </div>
      </span>
    </span>
  </nav>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$nav = document.currentScript.ownerDocument.querySelector('template#nav').content;

    class Nav extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$nav, true));

        this.$('#logo').handle('click', this.trigger.bind(this, 'switchView', 'session'));
        this.$('#open-compose').handle('click', this.trigger.bind(this, 'openCompose'));
        this.$('#switch-session').handle('click', this.trigger.bind(this, 'switchView', 'session'));
        this.$('#account-manage').handle('click', this.trigger.bind(this, 'switchView', 'session'));
      }

      connectedCallback() {
        document.store.registerAccounts(this);
        this.updateAccountList();
      }

      disconnectedCallback() {
        document.store.unregisterAccounts(this);
      }

      updateNav(board) {
        console.info('[nav] setBoard', board);

        // save original display properties
        this.$('#open-compose').hide();
        this.$('#refresh-board').hide();
        this.$('#switch-config').hide();

        if (document.account !== null) {
          this.$('#switch-config').show();
          this.$('#switch-config').handle('click', () => {
            this.trigger('switchView', 'config', document.account);
          });
        }
        if (document.account !== null && $.isDefined(board)) {
          this.$('#open-compose').show();
          this.$('#refresh-board').show();
          this.$('#refresh-board').handle('click', () => {
            this.$('#refresh-icon').classList.add('fa-spin');
            board.refresh(() => {
              this.$('#refresh-icon').classList.remove('fa-spin');
              Notify.info('The board is refreshed.');
            });
          });
        }
      }

      /*private*/ updateAccountList() {
        $.removeAllChildren(this.$('#account-list'));
        $.forEachKeyValue(document.store.getAllAccounts(), (screen_name, account) => {
          console.info('[nav] list account item', screen_name);
          this.$('#account-list').appendChild(document.createElement('x-nav-accounts-item').setAccount(account));
        });
      }
    }

    window.customElements.define('x-nav', Nav);
  })();
</script>
