<template id='notify'>
  <style type="text/css">
    :host {
      display: block;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  </style>
  <div id="container"></div>
</template>

<template id='notify-item'>
  <style type="text/css">
    @import "../vendor/font-awesome-4.4.0/css/font-awesome.min.css";
    :host {
      display: block;
      text-align: center;
      margin: 3px 0;
    }
    #message {
      position: relative;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
      border-radius: 5px;
      color: white;
    }
    #message.info {
      color: #111;
      background-color: #ddd;
    }
    #message.success {
      background-color: #5cb85c;
    }
    #message.warn {
      background-color: #f0ad4e;
    }
    #message.error {
      background-color: #d9534f;
    }
    #close {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      cursor: pointer;
    }
    #message:hover #close {
      display: inline-block;
    }
  </style>
  <div id="message">
    <div id="body"></div>
    <i id="close" class="fa fa-times-circle"></i>
  </div>
</template>

<script type="text/javascript">
  (function() {
    'use strict';

    const $$$item = document.currentScript.ownerDocument.querySelector('template#notify-item');
    class NotifyItemElement extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'open'}).appendChild(document.importNode($$$item.content, true));

        this.$('#close').handle('click', this.close.bind(this));
      }

      setMessage(msg, level) {
        if (! $.isDefined(level)) {
          level = 'info';
        }
        this.$('#body').textContent = msg;
        this.$('#message').className = level;
        return this;
      }

      close() {
        this.parentElement.removeChild(this);
      }
    }
    window.customElements.define("x-notify-item", NotifyItemElement);

    const $$$notify = document.currentScript.ownerDocument.querySelector('template#notify');
    class NotifyElement extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'open'}).appendChild(document.importNode($$$notify.content, true));
        window.Notify = this;
      }

      notify(msg, level, time) {
        if (! $.isDefined(time)) {
          time = 5000; // 5s as default
        }
        let $item = document.createElement('x-notify-item').setMessage(msg, level);
        let $container = this.$('#container');
        $container.insertBefore($item, $container.firstChild);

        // set auto dismiss
        if (time > 0) {
          setTimeout(() => {
            $item.close();
          }, time);
        }
        return $item;
      }

      info(msg) {
        return this.notify(msg, 'info', 3000);
      }

      success(msg) {
        return this.notify(msg, 'success', 3000);
      }

      warn(msg) {
        return this.notify(msg, 'warn', 5000);
      }

      error(msg) {
        return this.notify(msg, 'error', 0);
      }
    }
    window.customElements.define("x-notify", NotifyElement);
  })();
</script>
