<template id='notify'>
  <style type="text/css">
    :host {
      display: block;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  </style>
  <div id="container"></div>
</template>

<template id='notify-item'>
  <style type="text/css">
    :host {
      display: block;
      text-align: center;
      margin: 3px 0;
    }
    #message {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
      border-radius: 5px;
      color: white;
    }
    #message.info {
      color: #111;
      background-color: #ddd;
    }
    #message.success {
      background-color: #5cb85c;
    }
    #message.warn {
      background-color: #f0ad4e;
    }
    #message.error {
      background-color: #d9534f;
    }
  </style>
  <div id="message"></div>
</template>

<script type="text/javascript">
  (function() {
    'use strict';

    var $$$item = document.currentScript.ownerDocument.querySelector('template#notify-item');
    class NotifyItemElement extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$item.content, true));
      }

      setMessage(msg, level) {
        if (! $.isDefined(level)) {
          level = 'info';
        }
        this.$('#message').textContent = msg;
        this.$('#message').className = level;
        return this;
      }
    }
    document.registerElement("x-notify-item", NotifyItemElement);

    var $$$notify = document.currentScript.ownerDocument.querySelector('template#notify');
    class NotifyElement extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$notify.content, true));

        window.Notify = this;
        window.Notify.success('A notify');
        window.Notify.info('this test notify');
        window.Notify.warn('Warning: heads up about this.');
        window.Notify.error('Error: you got an error.');
      }

      notify(msg, level) {
        var $item = document.createElement('x-notify-item').setMessage(msg, level);
        var $container = this.$('#container');
        $container.insertBefore($item, $container.firstChild);
        return $item;
      }

      info(msg) {
        return this.notify(msg, 'info');
      }

      success(msg) {
        return this.notify(msg, 'success');
      }

      warn(msg) {
        return this.notify(msg, 'warn');
      }

      error(msg) {
        return this.notify(msg, 'error');
      }
    }
    document.registerElement("x-notify", NotifyElement);
  })();
</script>
