<template id="session-accounts-item">
  <style type="text/css">
    #account {
      position: relative;
      height: 58px;
      border-top: 1px solid #efefef;
      padding: 5px 0;
    }
    #account:hover {
      background-color: #efefef;
    }
    #avatar, #name, #delete {
      position: absolute;
      top: 5px;
      bottom: 5px;
    }
    #avatar {
      left: 0;
      height: 48px;
      width: 48px;
    }
    #name {
      left: 48px;
      line-height: 48px;
      padding: 0 1em;
      cursor: default;
    }
    #delete {
      right: 0;
    }
    #delete:hover {
      cursor: pointer;
    }
  </style>
  <li id="account">
    <img id="avatar" src="" alt="avatar" />
    <span id="name"></span>
    <button type="button" id="delete">Delete</button>
  </li>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template#session-accounts-item').content;

    class SessionAccountsItem extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template, true));
      }

      setAccount(account) {
        this.$('#avatar').src = account.profile_image_url;
        this.$('#name').textContent = account.screen_name;
        this.$('#delete').handle('click', () => {
          document.store.deleteTweets(account);
          document.store.deleteTwitterClient(account);
          document.store.deleteConfig(account);
          document.store.deleteAccount(account);
        });
        this.handle('click', () => {
          this.trigger('switchView', 'board', account);
        });
        return this;
      }
    }

    document.registerElement("x-session-accounts-item", SessionAccountsItem);
  })();
</script>
