<link rel="import" href="session-accounts-item.html">

<template id="session-accounts">
  <style type="text/css">
    #accounts {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  </style>

  <ul id="accounts"></ul>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#session-accounts').content;

    class SessionAccounts extends XElement {
      constructor() {
        super();
        this.createShadowRoot().appendChild(document.importNode($$$template, true));
      }

      connectedCallback() {
        document.store.registerAccounts(this);
        this.refresh();
      }

      disconnectedCallback() {
        document.store.unregisterAccounts(this);
      }

      /*private*/ refresh() {
        $.removeAllChildren(this.$('#accounts'));
        $.forEachKeyValue(document.store.getAllAccounts(), (screen_name, account) => {
          console.log('[SessionAccounts] refresh', screen_name);
          let $node = document.createElement('x-session-accounts-item').setAccount(account);
          this.$('#accounts').appendChild($node);
        });
      }
    }

    window.customElements.define("x-session-accounts", SessionAccounts);
  })();
</script>
