<link rel="import" href="session-accounts.html">

<template id="session">
  <style media="screen">
    :host {
      display: block;
      width: 300px;
      margin: 50px auto;
    }
    #add, #loading, #login {
      background-color: #efefef;
      text-align: center;
    }
    #add:hover {
      background-color: #bbb;
    }
    #add, #loading {
      line-height: 48px;
    }
    #add, #verify {
      cursor: pointer;
    }
    #loading, #login {
      cursor: default;
    }
    #login {
      padding: 0.5em 0;
    }
  </style>

  <div id="add">Add new account</div>

  <div id="loading">Fetching token...</div>

  <div id="login">
    <p>
      If Twitter window is not opened,
      <a href="" id="auth-url" target="_blank">click me</a>
      .
    </p>
    <p>Finally, paste your PIN code here:</p>
    <p>
      <input type="text" id="pin-code" value="">
      <button type="button" id="verify">Finish</button>
    </p>
  </div>

  <x-session-accounts></x-session-accounts>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template').content;

    class Session extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template, true));

        this.$('#add').handle('click', this.add.bind(this));
        this.$('#verify').handle('click', this.verify.bind(this));

        this.$('#loading').hide();
        this.$('#login').hide();
      }

      add() {
        this.$('#add').hide();
        this.$('#loading').show();
        this.auth();
      }

      auth() {
        this.current_client = new Twitter();
        this.current_client.auth((auth_url) => {
          this.$('#loading').hide();
          this.$('#auth-url').href = auth_url;
          this.$('#login').show();
          window.codebird_auth = window.open(auth_url);
        });
        return this;
      }

      verify() {
        this.current_client
          .verify(this.$('#pin-code').value, (reply) => {
            if (!reply || !reply.user_id) {
              console.error('[session] verify account failed!', reply);
              return;
            }
            var account = {
              user_id: reply.user_id,
              screen_name: reply.screen_name,
              name: reply.name,
              token: reply.oauth_token,
              token_secret: reply.oauth_token_secret
            };
            document.store.saveTwitterClient(account, this.current_client);
            document.store.updateAccount(account);
            document.store.resetConfig(account);

            this.$('#login').hide();
            this.$('#add').show();
          });
        return this;
      }
    }

    document.registerElement("x-session", Session);
  })();
</script>
