<template id="session">
  <style media="screen">
    :host {
      display: block;
      width: 500px;
      margin: 50px auto;
    }
  </style>
  <ul id="accounts"></ul>
  <div class="login">
    <button type="button" name="auth">Auth</button>
    <div class="auth-info">
      Open url to authorize:
      <a href="" id="auth-url" target="_blank"></a>
    </div>
    <span>
      pincode:
      <input type="text" name="pinCode" value="">
    </span>
    <button type="button" name="verify">Verify</button>
  </div>
</template>

<template id="account">
  <li class="account">
    <img class="avatar" src="" alt="avatar" />
    <span class="name"></span>
    <button type="button" name="delete">Delete</button>
  </li>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var $$$session = document.currentScript.ownerDocument.querySelector('template#session').content;
    var $$$account = document.currentScript.ownerDocument.querySelector('template#account').content;

    class Session extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$session, true));

        this.$accounts = this.shadowRoot.querySelector('#accounts');
        this.$auth = this.shadowRoot.querySelector('button[name=auth]');
        this.$auth_url = this.shadowRoot.querySelector('#auth-url');
        this.$pinCode = this.shadowRoot.querySelector('input[name=pinCode]');
        this.$verify = this.shadowRoot.querySelector('button[name=verify]');

        this.$auth.handle('click', this.auth.bind(this));
        this.$verify.handle('click', this.verify.bind(this));

        this.refresh();
        document.store.registerAccounts(this.refresh.bind(this));
      }

      refresh() {
        $.removeAllChild(this.$accounts);
        var accounts = document.store.getAccounts();
        for (var screen_name in accounts) {
          var account = accounts[screen_name];
          console.log('session refresh', account);
          var node = document.importNode($$$account, true);
          node.querySelector('.avatar').src = account.profile_image_url;
          node.querySelector('.name').textContent = account.screen_name;
          node.querySelector('button[name=delete]').handle('click', () => {
            document.store.deleteAccount(account);
          });
          this.$accounts.appendChild(node);
        }
      }

      auth() {
        this.current_client = new Twitter();
        this.current_client.auth((auth_url) => {
          this.$auth_url.textContent = auth_url;
          this.$auth_url.href = auth_url;
          window.codebird_auth = window.open(auth_url);
        });
        return this;
      }

      verify() {
        this.current_client.verify(this.$pinCode.value, (reply) => {
          if (!reply || !reply.user_id) {
            console.error('verify account failed!', reply);
            return;
          }
          var account = {
            user_id: reply.user_id,
            screen_name: reply.screen_name,
            token: reply.oauth_token,
            token_secret: reply.oauth_token_secret
          };
          document.store.saveTwitterClient(account, this.current_client);
          document.store.updateAccount(account);
        });
        return this;
      }
    }

    document.registerElement("x-session", Session);
  })();
</script>
