<template id="session-accounts-item">
  <style type="text/css">
    @import "../vendor/font-awesome-4.4.0/css/font-awesome.min.css";
    #account {
      position: relative;
      height: 58px;
      border-top: 1px solid #efefef;
      padding: 5px 0;
    }
    #account:hover {
      background-color: #efefef;
    }
    #avatar, #name, #delete {
      position: absolute;
      top: 5px;
      bottom: 5px;
    }
    #avatar {
      left: 0;
      height: 48px;
      width: 48px;
    }
    #name {
      left: 48px;
      line-height: 48px;
      padding: 0 1em;
      cursor: default;
    }
    #delete {
      right: 0;
      padding: 17px 5px;
      color: black;
    }
    #delete i.fa-trash, #delete:hover i.fa-trash-o {
      display: none;
    }
    #delete:hover i.fa-trash {
      display: inline-block;
      color: #c00;
    }
  </style>
  <li id="account">
    <img id="avatar" src="" alt="avatar" />
    <span id="name"></span>
    <a id="delete" href="#">
      <i class="fa fa-trash-o"></i>
      <i class="fa fa-trash"></i>
    </a>
  </li>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#session-accounts-item').content;

    class SessionAccountsItem extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$template, true));
      }

      setAccount(account) {
        this.$('#avatar').src = account.profile_image_url;
        this.$('#name').textContent = account.screen_name;
        this.$('#delete').handle('click', () => {
          document.store.deleteConfig(account);
          document.store.deleteAccount(account);
        });
        this.handle('click', () => {
          this.trigger('switchView', 'board', account);
        });
        return this;
      }
    }

    window.customElements.define("x-session-accounts-item", SessionAccountsItem);
  })();
</script>
