<link rel="import" href="session-accounts.html">

<template id="session">
  <style media="screen">
    :host {
      display: block;
      width: 300px;
      margin: 50px auto;
    }
    #add, #login {
      background-color: #efefef;
      text-align: center;
    }
    #add {
      line-height: 48px;
      cursor: pointer;
    }
    #add:hover {
      background-color: #bbb;
    }
    #login {
      cursor: default;
      padding: 0.5em 0;
    }
    #auth, #verify {
      cursor: pointer;
    }
  </style>

  <div id="add">Add new account</div>

  <div id="login">
    <div>
      Press
      <button type="button" id="auth">Auth</button>
      button to authorize on Twitter.
    </div>
    <div id="auth-info">
      <p>Or manually open the url:</p>
      <p><a href="" id="auth-url" target="_blank"></a></p>
      <p>Copy the pin code from Twitter to verify:</p>
      <p>
        <input type="text" id="pin-code" value="">
        <button type="button" id="verify">Verify</button>
      </p>
    </div>
  </div>

  <x-session-accounts></x-session-accounts>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template').content;

    class Session extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template, true));

        this.$('#add').handle('click', this.add.bind(this));
        this.$('#auth').handle('click', this.auth.bind(this));
        this.$('#verify').handle('click', this.verify.bind(this));

        this.$('#login').hide();
      }

      add() {
        this.$('#add').hide();
        this.$('#login').show();
        this.$('#auth-info').hide();
      }

      auth() {
        this.current_client = new Twitter();
        this.current_client.auth((auth_url) => {
          this.$('#auth-url').textContent = auth_url;
          this.$('#auth-url').href = auth_url;
          this.$('#auth-info').show();
          window.codebird_auth = window.open(auth_url);
        });
        return this;
      }

      verify() {
        this.current_client
        .verify(this.$('#pin-code').value, (reply) => {
          if (!reply || !reply.user_id) {
            console.error('[session] verify account failed!', reply);
            return;
          }
          var account = {
            user_id: reply.user_id,
            screen_name: reply.screen_name,
            name: reply.name,
            token: reply.oauth_token,
            token_secret: reply.oauth_token_secret
          };
          document.store.saveTwitterClient(account, this.current_client);
          document.store.updateAccount(account);
          document.store.resetConfig(account);

          this.$('#add').show();
          this.$('#login').hide();
        });
        return this;
      }
    }

    document.registerElement("x-session", Session);
  })();
</script>
