<template id="tweet">
  <style>
    :host {
      display: block;
    }
    #container {
      padding: 0.5em 1em;
    }
    #m-status {
      color: #888;
    }
    #m-creator {
      color: green;
    }
    #m-body {
      color: black;
    }
    .m-quoted, .m-reply {
      border: 1px #eee solid;
    }
    #m-body a{
      /*color: #4C91DB;*/
      color: #377ac3;
      text-decoration: none;
    }

    .avatar {
      height: 16px;
    }

    /* media */
    #m-media {
      white-space: nowrap;
      width: 400px;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    #m-media img {
      height: 150px;
      /*width: 800px;*/
      margin-left: 1em;
    }
  </style>

  <div id="container">
    <div id="m-status"></div>
    <div id="m-creator"></div>
    <div id="m-body">
      <div id="m-text"></div>
      <div id="m-media"></div>
    </div>
  </div>
</template>

<template id="creator">
  <img class="avatar" />
  <span class="name"></span>
  <span class="handle">
    (<span class="screen-name"></span>)
  </span>
</template>


<script type="text/javascript">
  (function () {
    "use strict";

    var $$$tweet = document.currentScript.ownerDocument.querySelector('template#tweet');
    var $$$creator = document.currentScript.ownerDocument.querySelector('template#creator');
    $$$creator.find = $$$creator.content.querySelector.bind($$$creator.content);

    class Tweet extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$tweet.content, true));
        this.$text = this.shadowRoot.querySelector('#m-text');
        this.$media = this.shadowRoot.querySelector('#m-media');

        this.tweet = null;
      }

      get(prop) {
        return this.shadowRoot.querySelector(`#m-${prop}`);
      }

      setCreator(user) {
        $$$creator.find('.avatar').src = user.profile_image_url_https;
        $$$creator.find('.name').textContent = user.name;
        $$$creator.find('.screen-name').textContent = user.screen_name;

        var $container = this.get('creator');
        $.removeAllChild($container);
        $container.appendChild(document.importNode($$$creator.content, true));
        return this;
      }

      setText(text) {
        var obj = this.tweet.entities;
        var entities = Object.keys(obj).reduce((all, key) => {
          return all.concat(obj[key]);
        }, []);
        this.$text.innerHTML = twttr.txt.autoLink(text, {urlEntities: entities});
        return this;
      }

      setMedia(entities, extended_entities) {
        var media = [];
        if (extended_entities && extended_entities.media) {
          media = extended_entities.media;
        } else if (entities && entities.media) {
          media = entities.media;
        }
        console.log(media);
        $.removeAllChild(this.$media);
        media.forEach(function (medium) {
          var $img = document.createElement('img');
          $img.src = medium.media_url_https;
          this.$media.appendChild($img);
        }, this);
        return this;
      }

      setTweet(tweet) {
        this.setCreator(tweet.user);
        this.setText(tweet.text);
        this.setMedia(tweet.entities, tweet.extended_entities);
        return this;
      }

      setData(tweet) {
        this.tweet = tweet;
        console.log('tweet', tweet);
        if (false && tweet.reply_to) {
          // it's a reply tweet
        } else if (tweet.retweeted_status) {
          // it's a retweeted tweet
          var retweet = tweet.retweeted_status;
          this.get('status').textContent = `${tweet.user.name}(${tweet.user.screen_name}) retweeted`;
          this.setTweet(retweet);
        } else if (tweet.is_quote_status) {
          // it's a quoted tweet
          this.setTweet(tweet);

          var original_tweet = document.createElement('x-tweet');
          original_tweet.className = "m-quoted";
          original_tweet.setData(tweet.quoted_status);
          this.get('body').appendChild(original_tweet);
        } else {
          this.setTweet(tweet);
        }

        return this;
      }
    }

    // Tweet.extends = 'div';
    document.registerElement("x-tweet", Tweet);
  })();
</script>
