<template id="tweet-control">
  <style type="text/css">
    @import "../vendor/font-awesome-4.4.0/css/font-awesome.min.css";
    :host {
      position: absolute;
      right: 1em;
    }
    i {
      display: inline-block;
      cursor: pointer;
    }
    i[data-status='disabled'] {
      cursor: normal;
      color: #eee;
    }
    i[data-status='retweeted'] {
      color: #5c913b;
    }
    i[data-status='favorited'] {
      color: #dd2e44;
    }
  </style>

  <i id="reply-button" class="fa fa-reply"></i>
  <i id="retweet-button" class="fa fa-retweet"></i>
  <i id="fav-button" class="fa fa-heart"></i>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#tweet-control').content;

    class TweetControl extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$template, true));

        this.$('#reply-button').handle('click', () => {
          this.trigger('openComposeForReply', this.tweet);
        });
        this.$('#retweet-button').handle('click', this.retweet.bind(this));
        this.$('#fav-button').handle('click', this.favorite.bind(this));

        this.tweet = null;

        this.hide();
      }

      setTweet(tweet) {
        this.tweet = tweet;

        this.$('#retweet-button').dataset.status =
          (this.tweet.user.screen_name === document.account.screen_name) ?
          'disabled' :
          (this.tweet.retweeted) ?
          'retweeted' :
          '';

        this.$('#fav-button').dataset.status =
          (this.tweet.favorited) ? 'favorited' : '';
      }

      retweet() {
        if (this.tweet.user.screen_name === document.account.screen_name) {
          // current user can't retweet his own tweet.
          return;
        }
        if (!this.tweet.retweeted) {
          // retweet this tweet
          this.trigger('openComposeForRetweet', this.tweet);
          return;
        }
        // un-retweet
        let client = document.cache.getTwitterClient(document.account);
        let retweeted_status = this.tweet.retweeted_status ? this.tweet.retweeted_status : this.tweet;
        let un_retweet_func = (current_user_retweet_id_str) => {
          client
            .post("statuses_destroy_ID", {
              id: current_user_retweet_id_str
            })
            .then(() => {
              $.updateObject(retweeted_status, {current_user_retweet: undefined});
              $.updateObject(this.tweet, {retweeted: false});
            });
        };
        if (retweeted_status.current_user_retweet) {
          un_retweet_func(retweeted_status.current_user_retweet.id_str);
        } else {
          client
            .fetch("statuses_show_ID", {
              id: retweeted_status.id_str,
              include_my_retweet: 'true', // so that the reply contains current_user_retweet
            })
            .then((reply) => {
              console.log('[tweet-control]', 'fetched current_user_retweet', reply.current_user_retweet.id_str);
              $.updateObject(retweeted_status, reply);
              un_retweet_func(reply.current_user_retweet.id_str);
            });
        }
      }

      favorite() {
        let api;
        if (this.tweet.favorited) {
          api = "favorites_destroy";
        } else {
          api = "favorites_create";
        }
        document.cache.getTwitterClient(document.account)
          .post(api, {
            id: this.tweet.id_str
          })
          .then((reply) => {
            console.log('[tweet]', api, reply);
            $.updateObject(this.tweet, reply);
          }).catch((err) => {
            console.error('[tweet] failed:', api, err);
            Notify.error(`[tweet] failed in api ${api}: ${err}`);
          });
      }
    }

    window.customElements.define("x-tweet-control", TweetControl);
  })();
</script>
