<template>
  <style>
    m-title {
      color: red;
      font-size: 200%;
      display: block;
    }
    m-text {
      color: green;
    }
  </style>

  <m-title></m-title>
  <m-text></m-text>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class Tweet extends HTMLElement {
      createdCallback() {
        var node = document.importNode(template.content, true);
        this.createShadowRoot();
        this.shadowRoot.appendChild(node);
      }

      set(prop, value) {
        this.shadowRoot.querySelector(`m-${prop}`).textContent = value;
        return this;
      }

      get(prop) {
        return this.shadowRoot.querySelector(`m-${prop}`).textContent;
      }

      setData(tweet) {
        console.log('tweet', tweet);
        this.set('title', tweet.id);
        this.set('text', tweet.text);
      }
    }

    document.registerElement("x-tweet", Tweet);
  })();
</script>
