<template>
  <style>
    m-title, m-text {
      display: block;
    }
    m-status {
      color: #888;
    }
    m-title {
      color: green;
    }
    m-text {
      color: black;
      border-bottom: 1px #eee solid;
      margin-bottom: 1em;
    }
  </style>

  <m-status></m-status>
  <m-title></m-title>
  <m-text></m-text>
</template>

<script type="text/javascript">
  (function () {
    "use strict";

    var template = document.currentScript.ownerDocument.querySelector('template');

    class Tweet extends HTMLElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode(template.content, true));
        this.titleElem = this.shadowRoot.querySelector('m-title');
        this.textElem = this.shadowRoot.querySelector('m-text');
      }

      set(prop, value) {
        this.shadowRoot.querySelector(`m-${prop}`).textContent = value;
        return this;
      }

      get(prop) {
        return this.shadowRoot.querySelector(`m-${prop}`).textContent;
      }

      setText(text) {
        this.textElem.textContent = $.decodeEntities(text);
        return this;
      }

      setData(tweet) {
        console.log('tweet', tweet);
        if (tweet.retweeted_status) {
          // it's a retweeted tweet
          var retweet = tweet.retweeted_status;
          this.set('status', `${tweet.user.name}(${tweet.user.screen_name}) retweeted`);
          this.set('title', `${retweet.user.name}(${retweet.user.screen_name})`);
          this.setText(retweet.text);
        } else {
          this.set('title', `${tweet.user.name}(${tweet.user.screen_name})`);
          this.setText(tweet.text);
        }

        return this;
      }
    }

    document.registerElement("x-tweet", Tweet);
  })();
</script>
