<link rel="import" href="tweet-media-player.html">

<template id="tweet-media">
  <style type="text/css">
    :host {
      margin: 0 1em;
    }
    #preview {
      position: relative;
    }
    #preview-img {
      height: 200px;
    }
    #preview-indicator {
      position: absolute;
      left: 5px;
      bottom: 5px;
      padding: 3px;
      color: white;
      background-color: rgba(0,0,0,0.3);
      border: 1px solid #888;
      border-radius: 3px;
      font-family: sans-serif;
      font-size: 12px;
    }
  </style>
  <span id="preview">
    <img id="preview-img" src="">
    <span id="preview-indicator"></span>
  </span>
  <div id="player"></div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#tweet-media').content;

    class TweetMedium extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$template, true));
        this.media = null;
      }

      setMedia(media) {
        this.media = media;

        this.$('#preview-img').src = media.media_url_https;
        this.$('#preview').handle('click', () => {
          let $player = document.createElement('x-tweet-media-player').setMedia(media);
          this.$('#player').appendChild($player);
        });

        switch(media.type) {
          case 'video':
            this.$('#preview-indicator').textContent = "Video";
            this.$('#preview-indicator').show();
            break;
          case 'animated_gif':
            this.$('#preview-indicator').textContent = "GIF";
            this.$('#preview-indicator').show();
            break;
          default:
            this.$('#preview-indicator').hide();
        }

        return this;
      }
    }

    window.customElements.define("x-tweet-media", TweetMedium);
  })();
</script>
