<template id="tweet-media-player">
  <style type="text/css">
    #background {
      background-color: rgba(0, 0, 0, 0.6);
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1000;
    }
    #image, #video {
      max-height: 90%;
      max-width: 95%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <div id="background">
    <video autoplay loop controls id="video">
      <source src=""/>
    </video>
    <img id="image" src="">
  </div>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    const $$$template = document.currentScript.ownerDocument.querySelector('template#tweet-media-player').content;

    class TweetMediumPlayer extends XElement {
      constructor() {
        super();
        this.attachShadow({mode: 'closed'}).appendChild(document.importNode($$$template, true));
        this.media = null;
        this.show();
      }

      setMedia(media) {
        this.media = media;

        // Only click on the background dismiss the player
        this.$('#background').handle('click', this.detach.bind(this));
        this.$('#video').handle('click');

        switch(media.type) {
          case 'video':
          case 'animated_gif':
            if (media.video_info && media.video_info.variants) {
              // media.video_info.duration_millis;
              let bitrate = -1, best_info = null;
              for (let info of media.video_info.variants) {
                if (info.content_type === 'video/mp4' && info.bitrate > bitrate) {
                  bitrate = info.bitrate;
                  best_info = info;
                }
              }
              if (best_info !== null) {
                let $video = this.$('#video source');
                $video.src = best_info.url;
                $video.type = best_info.content_type;
              }
              return this;
            }
        }

        // fallback
        this.$('#image').src = media.media_url_https;
        return this;
      }
    }

    window.customElements.define("x-tweet-media-player", TweetMediumPlayer);
  })();
</script>
