<template id="tweet-control">
  <style type="text/css">
    #container {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
    }
    #container li {
      display: inline-block;
      cursor: pointer;
    }
  </style>

  <ul id="container">
    <li id="reply-button">Reply</li>
    <li id="retweet-button">Retweet</li>
    <li id="fav-button">Fav</li>
  </ul>
</template>

<script type="text/javascript">
  (function() {
    "use strict";

    var $$$template = document.currentScript.ownerDocument.querySelector('template#tweet-control').content;

    class TweetControl extends XElement {
      createdCallback() {
        this.createShadowRoot().appendChild(document.importNode($$$template, true));

        this.$('reply-button').handle('click', () => {
          this.trigger('openComposeForReply', this.tweet);
        });
        this.$('retweet-button').handle('click', () => {
          if (this.tweet.user.screen_name !== document.account.screen_name) {
            this.trigger('openComposeForRetweet', this.tweet);
          }
        });
        this.$('fav-button').handle('click', this.favorite.bind(this));

        this.tweet = null;

        this.hide();
      }

      setTweet(tweet) {
        this.tweet = tweet;
        if (this.tweet.user.screen_name === document.account.screen_name) {
          this.$('retweet-button').class = 'disable';
        }
      }

      favorite() {
        document.store.getTwitterClient(document.account)
          .post("favorites_create", {
            id: this.tweet.id_str
          })
          .then((reply) => {
            console.log('[tweet] favorite:', reply);
          }).catch((err) => {
            console.error('[tweet] favorite failed:', err);
          });
      }
    }

    document.registerElement("x-tweet-control", TweetControl);
  })();
</script>
